<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ywang77buffalo.locationactivity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aaActivity" />
        <activity android:name=".cpActivity" />
        <activity android:name=".gymActivity" />
        <activity android:name=".gymdesActivity" />
        <activity android:name=".gymstartActivity" />
        <activity android:name=".lwActivity" />
        <activity android:name=".suActivity" />
        <activity android:name=".stActivity" />
        <activity android:name=".studyActivity" />
        <activity android:name=".studydesActivity" />
        <activity android:name=".studystartActivity" />
        <activity android:name=".readingActivity" />
        <activity android:name=".readingdesActivity" />
        <activity android:name=".readingstartActivity" />
        <activity android:name=".jogActivity" />
        <activity android:name=".jogdesActivity" />
        <activity android:name=".jogstartActivity" />
        <activity android:name=".clubActivity" />
        <activity android:name=".clubdesActivity" />
        <activity android:name=".clubstartActivity"></activity>
    </application>

</manifest>